@use './partials/variables' as *;

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700;900&display=swap');
@import 'bootstrap/scss/bootstrap';



@font-face {
    font-family: 'Mona Sans';
    src: local('Mona-Sans'), url('../../assets/fonts/Mona-Sans.woff2') format('woff2');
    font-weight:200 300 400 500 600 700 800 900;
    font-stretch: 75% 125%;
  }
  
 body {
    font-family: 'Mona Sans', sans-serif;
   
  }

*::-webkit-scrollbar{
    display: none;
  }
